src/*/runs
src/*/.ipynb_checkpoints
.DS_Store
*.sif
src/*.egg-info*
src/cfdpinn/*pycache*
openfoam/cases/cavity*/0.*
openfoam/cases/cavity*/[1-9]*
openfoam/cases/*/constant/polyMesh
models/tmp*pt
animations/tmp*
data/tmp-outputs
